::-webkit-scrollbar { 
    display: none; 
}

body {
/*            overflow: hidden;*/
            margin: 0 0;
            font-family: arial;
        	width: 100wh;
        	height: 90vh;
        	color: #fff;
        	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        	background-size: 400% 400%;
        	-webkit-animation: Gradient 15s ease infinite;
        	-moz-animation: Gradient 15s ease infinite;
        	animation: Gradient 15s ease infinite;
        }

        @-webkit-keyframes Gradient {
        	0% {
        		background-position: 0% 50%
        	}
        	50% {
        		background-position: 100% 50%
        	}
        	100% {
        		background-position: 0% 50%
        	}
        }

        @-moz-keyframes Gradient {
        	0% {
        		background-position: 0% 50%
        	}
        	50% {
        		background-position: 100% 50%
        	}
        	100% {
        		background-position: 0% 50%
        	}
        }

        @keyframes Gradient {
        	0% {
        		background-position: 0% 50%
        	}
        	50% {
        		background-position: 100% 50%
        	}
        	100% {
        		background-position: 0% 50%
        	}
        }

        #accueilJeu
        {
        	font-family: arial;
        	font-size: 50px;
        	text-align: center;
        	top: 10%;
            margin: 0 0;
        }
        #formulaire-authentification{
            position: fixed; 
            top: 70%;
            left: 38%;
        }
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    color: #fff;
    cursor: pointer;
    height: 19px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#canevas{
    margin: 0 0;
}
#titreJeu{
    margin: 0 0;
    text-align: center;
    height: 36px;
}